services:
  - type: web
    name: mail-wed-simple
    env: node
    region: oregon
    buildCommand: npm install
    startCommand: npm start
    healthCheckPath: /health
    plan: free
    autoDeploy: true
